@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap');
:root {
    --color-border: #e3e4e6
}

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    background-color: #f5f5f5;
}

ul {
    margin: 0;
}

li {
    list-style: none;
}

h4,
h5 {
    margin-bottom: none;
}

a {
    color: #000;
}

a:hover {
    color: unset;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 .5rem;
    /* overflow-x: hidden; */
}

.spin-load {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bg-img {
    background-position: center;
    background-size: cover;
}

.padding-content {
    padding: .6rem;
}