.user-info__left {}

.user-info__left .user-info__item {
    display: flex;
    align-items: center;
    padding: .5rem;
    font-weight: 600;
    color: #7f8c8d;
    cursor: pointer;
}

.user-info__left .menu-sub__user {
    margin-left: 2.2rem;
}

.user-info__left .menu-sub__user a {
    display: flex;
    color: rgb(116, 116, 116);
    padding: .4rem;
}

.user-info__left .user-info__item .icon-user {
    color: #f1c40f;
}

.user-info__left .user-info__item .icon-bill {
    color: #2980b9;
}

.user-info__left .user-info__item .icon-notify {
    color: #d35400;
}

.user-info__left .user-info__item .icon-voucher {
    color: #e67e22;
}

.user-info__left img {
    width: 50px;
    height: 50px;
    border-radius: 35px;
}

.user-info__left .info-detail {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.user-info__left .info-user {
    margin-left: 1rem;
}

.user-info__left .info-user div:nth-child(1) {
    font-weight: 600;
}

.user-info__left .info-user div:nth-child(2) {
    display: flex;
    align-items: center;
    color: rgb(116, 116, 116);
}

.user-info__left span {
    padding-left: .4rem;
}

.user-info__right {
    border-radius: .2rem;
}