nav {
    border-bottom: 1px solid #e3e4e6;
    position: sticky;
    background-color: #fff;
    margin-bottom: auto;
    top: 38.6px;
    z-index: 99;
    box-shadow: rgba(14, 30, 37, .12) 0px 2px 4px 0px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    padding: 20px 0px;
    height: 80px;
}

.logo-brand img {
    margin-left: 1rem;
}

.navbar-search {
    position: relative;
    flex: 1;
    margin-left: 4rem;
}

.navbar-user {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-right: 1rem;
}

.nav-name__user {
    font-size: 16px;
    font-weight: 400;
    padding-right: 1rem;
}

.navbar-user .nav-background__user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid rgb(156, 149, 149)
}

.nav-icon__down {
    margin-right: 1rem;
    margin-left: .4rem;
    font-size: 22px;
}

.navbar-search input {
    width: 70%;
    height: 55px;
    background-color: rgba(197, 192, 192, 0.1);
    border: none;
    box-shadow: 10px;
    border-radius: .4rem;
}

.navbar-search input[type='text'] {
    padding: 0 20px;
}

.navbar-search input:focus {
    outline: none;
    border-color: none;
}

.navbar-cart {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 1rem;
}

.navbar-icon-cart {
    font-size: 25px;
    color: var(--color-background);
}

.btn-search {
    cursor: pointer;
    position: absolute;
    top: 30%;
    transform: translateX(-200%);
}

.nav-search-icon {
    color: #1f2020;
}

.btn-logout {
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    background: none;
    text-align: left;
    color: #1890ff;
}

.icon-logout {
    padding-right: .4rem;
}


/* CSS CART */

.cart {
    width: 350px;
    height: 300px;
    background-color: #FFF;
    box-shadow: 0px 5px 10px rgb(62 68 90 / 10%);
    border: 1px solid #edeef5;
    border-radius: 5px;
    position: relative;
}

.title {
    padding-left: 1rem;
    padding-top: 1rem;
    color: rgba(107, 99, 99, 0.705);
}

.padding-1 {
    margin: 0 1rem 0 1rem;
}

.cart .cart-view {
    position: absolute;
    bottom: 10px;
    width: 90%;
    border: none;
    padding: .6rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    background-color: var(--color-background);
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}

.cart-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #e3e4e6;
    padding: .2rem 0;
}

.cart-item img {
    background-size: cover;
    background-position: center;
}

.cart-title {
    padding-left: .4rem;
    font-size: 14px;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: .4rem;
}

.cart-price {
    font-size: 12px;
    color: var(--color-background);
}

.cart-item__hidden {
    font-size: 12px;
    margin-left: 1rem;
    padding-top: .5rem;
}

.cart-empty {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-empty span {
    font-size: 16px;
}

.navbar-search__mobile {
    margin: 0 auto;
    display: none;
    margin: 1rem;
}

@media screen and (max-width:768px) {
    nav {
        top: 0;
    }
}

@media screen and (max-width: 600px) {
    nav .navbar-search {
        display: none;
    }
    .navbar-search__mobile {
        display: block;
    }
    .navbar-search__mobile .navbar-search {
        margin: 0;
    }
    .navbar-search__mobile .navbar-search .btn-search {
        top: 20%;
        transform: translateX(-150%);
    }
    .navbar-search__mobile .navbar-search input {
        width: 100%;
        height: 40px;
    }
}