.category {
    margin: .8rem 0;
}

.category-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.category-card__title {
    padding-top: 10px;
    color: #000;
    font-weight: 500;
    ;
}